
.frame {

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-self: center;
  align-items: center;
  height: 220px;
  margin-top: 5em ;
  
  border-radius: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  background: #818181;
}

